{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BANKING</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %)">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">SMART BANK</a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="index.html">Home</a></li>
                                                <li><a href="credentials/register1">Courses</a></li>
<!--                                                <li><a href="about.html">About</a></li>-->
                                                <li><a href="#">Branches</a>
                                                    <ul class="submenu">
                                                        <li><a href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Thiruvananthapuram </a></li>
                                                        <li><a href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a></li>
                                                        <li><a href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</a></li>
                                                        <li><a href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
                                                        <li><a href="https://en.wikipedia.org/wiki/Kozhikode">Calicut</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="credentials/register" class="btn">Register</a></li>
                                                <li class="button-header"><a href="credentials/login" class="btn btn3">Log in</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <section class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Banking Solutions</h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">It's not just BANKING it's a LIFESTYLE</p>
                                    <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">WELCOME</a>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!-- ? services-area -->
        <div class="services-area">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
<!--                                <img src="{% static 'assets/img/icon/icon1.svg' %}" alt="">-->
                            </div>
                            <div class="features-caption">
                                <h3>Money Savings</h3>
                                <p>It’s your future, look after it Keep calm & save money</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
<!--                                <img src="{% static 'assets/img/icon/icon2.svg' %}" alt="">-->
                            </div>
                            <div class="features-caption">
                                <h3>Online Shoppings</h3>
                                <p>Easy shopping...make your shopping sipmple</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon" style="height:1px;" >
<!--                                <img src="{% static 'assets/img/icon/icon3.svg' %}" alt="">-->
                            </div>
                            <div class="features-caption">
                                <h3>Credit/Debit Cards</h3>
                                <p>One card, many Possibilities</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses area start -->
<!--        <div class="courses-area section-padding40 fix">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-7 col-lg-8">-->
<!--                        <div class="section-tittle text-center mb-55">-->
<!--                            <h2>Our featured courses</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="courses-actives">-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="properties pb-20">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="properties__card">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="properties__img overlay1">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#"><img src="{% static 'assets/img/gallery/featured1.png' %}" alt=""></a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="properties__caption">&ndash;&gt;-->
<!--&lt;!&ndash;                                <p>User Experience</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3><a href="#">Fundamental of UX for Application design</a></h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.&ndash;&gt;-->

<!--&lt;!&ndash;                                </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="properties__footer d-flex justify-content-between align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="restaurant-name">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="rating">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fas fa-star-half"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p><span>(4.5)</span> based on 120</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="price">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span>$135</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#" class="border-btn border-btn2">Find out more</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured2.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->
<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured3.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->

<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                    <div class="properties pb-20">-->
<!--                        <div class="properties__card">-->
<!--                            <div class="properties__img overlay1">-->
<!--                                <a href="#"><img src="{% static 'assets/img/gallery/featured2.png' %}" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="properties__caption">-->
<!--                                <p>User Experience</p>-->
<!--                                <h3><a href="#">Fundamental of UX for Application design</a></h3>-->
<!--                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.-->

<!--                                </p>-->
<!--                                <div class="properties__footer d-flex justify-content-between align-items-center">-->
<!--                                    <div class="restaurant-name">-->
<!--                                        <div class="rating">-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star"></i>-->
<!--                                            <i class="fas fa-star-half"></i>-->
<!--                                        </div>-->
<!--                                        <p><span>(4.5)</span> based on 120</p>-->
<!--                                    </div>-->
<!--                                    <div class="price">-->
<!--                                        <span>$135</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <a href="#" class="border-btn border-btn2">Find out more</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Single &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Courses area End -->
        <!--? About Area-1 Start -->
<!--        <section class="about-area1 fix pt-10">-->
<!--            <div class="support-wrapper align-items-center">-->
<!--                <div class="left-content1">-->
<!--                    <div class="about-icon">-->
<!--                        <img src="{% static 'assets/img/icon/about.svg' %}" alt="">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; section tittle &ndash;&gt;-->
<!--                    <div class="section-tittle section-tittle2 mb-55">-->
<!--                        <div class="front-text">-->
<!--                            <h2 class="">Learn new skills online with top educators</h2>-->
<!--                            <p>The automated process all your website tasks. Discover tools and -->
<!--                                techniques to engage effectively with vulnerable children and young -->
<!--                            people.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-features">-->
<!--                        <div class="features-icon">-->
<!--                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="features-caption">-->
<!--                            <p>Techniques to engage effectively with vulnerable children and young people.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-features">-->
<!--                        <div class="features-icon">-->
<!--                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="features-caption">-->
<!--                            <p>Join millions of people from around the world  learning together.</p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="single-features">-->
<!--                        <div class="features-icon">-->
<!--                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="features-caption">-->
<!--                            <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="right-content1">-->
<!--                    &lt;!&ndash; img &ndash;&gt;-->
<!--                    <div class="right-img">-->
<!--                        <img src="{% static 'assets/img/gallery/about.png' %}" alt="">-->

<!--                        <div class="video-icon" >-->
<!--                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- About Area End -->
        <!--? top subjects Area Start -->
        <div class="topic-area section-padding40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Explore here</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Invest</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Borrow</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Insure</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Shop</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Banking Tools</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Rates & Charges</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Assistance</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'assets/img/gallery/topic5.png' %}" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Quick Links</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-12">-->
<!--                        <div class="section-tittle text-center mt-20">-->
<!--                            <a href="courses.html" class="border-btn">View More Subjects</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <!-- top subjects End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about3.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">We solve your Financial Problem</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Our guidelines and tips for secure banking with total peace</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Recommendations for a safe and easy banking experience</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Stay tuned to banking innovations & trends and make smart financial decisions</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Team -->
<!--        <section class="team-area section-padding40 fix">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-7 col-lg-8">-->
<!--                        <div class="section-tittle text-center mb-55">-->
<!--                            <h2>Community experts</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="team-active">-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team1.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Urela</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team2.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Uttom</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Shakil</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team4.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. Arafat</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-cat text-center">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html">Mr. saiful</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- Services End -->
        <!--? About Area-2 Start -->
<!--        <section class="about-area2 fix pb-padding">-->
<!--            <div class="support-wrapper align-items-center">-->
<!--                <div class="right-content2">-->
<!--                    &lt;!&ndash; img &ndash;&gt;-->
<!--                    <div class="right-img">-->
<!--                        <img src="{% static 'assets/img/gallery/about2.png' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="left-content2">-->
<!--                    &lt;!&ndash; section tittle &ndash;&gt;-->
<!--                    <div class="section-tittle section-tittle2 mb-20">-->
<!--                        <div class="front-text">-->
<!--                            <h2 class="">Take the next step-->
<!--                                toward your personal-->
<!--                                and professional goals-->
<!--                            with us.</h2>-->
<!--                            <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>-->
<!--                            <a href="#" class="btn">Join now for Free</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- About Area End -->
    </main>
    <footer>
     <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html">SMART BANK</a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>A platform that helps you open and manage an account 24x7 without having to visit branch</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>EXPLORE</h4>
                                <ul>
                                    <li><a href="#">Investor relations</a></li>
                                    <li><a href="#">Safe Banking</a></li>
                                    <li><a href="#">Internet Banking</a></li>
                                    <li><a href="#">Mobile Banking</a></li>
                                    <li><a href="#">General Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>POPULAR PRODUCTS</h4>
                                <ul>
                                    <li><a href="#">Savings Accounts</a></li>
                                    <li><a href="#">Current Acounts</a></li>
                                    <li><a href="#">Credit Cards</a></li>
                                    <li><a href="#">Home Loan</a></li>
                                    <li><a href="#">Personal Loan</a></li>
                                     <li><a href="#">Fixed Deposit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>OTHERS</h4>
                                <ul>
                                    <li><a href="#">Customer Care</a></li>
                                    <li><a href="#">Online Assist</a></li>
                                    <li><a href="#">Form center</a></li>
                                    <li><a href="#">Account activation process</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | smartbank <i class="fa fa-heart" aria-hidden="true"></i>  </a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
      </div>
  </footer> 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static './assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>
<script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>